/* styles/hero_section.module.css */
@import url('https://fonts.googleapis.com/css2?family=Hollow:wght@400;700&display=swap');

.hero {
  position: relative;
  height: 500px; /* Adjust the height based on your design */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; /* Set text color to contrast with the background */
}

.carouselContainer {
  width: 80%; /* Adjust the width as needed */
  max-width: 500px; /* Maximum width for the carousel */
  margin: 0 auto;
}

.carousel .slide {
  background: none;
}

.carousel .control-arrow,
.carousel .control-dots .dot {
  background-color: rgba(0, 0, 0, 0.5);
}

.heroContent {
  position: absolute;
  top: 50%;
  left: 80%;
  font-family: 'Hollow', sans-serif;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1; /* Ensure the content is above the carousel */
  color: #fff; /* Ensure the text color is white for visibility */
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
