/* styles/HeroSection.module.css */

.hero {
    background: url('/images/home1.jpg') center/cover no-repeat;
    height: 400px; /* Adjust the height based on your design */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; /* Set text color to contrast with the background */
  }
  
  .heroContent {
    text-align: center;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
 